.container {
  width: 100%;
  height: max-content;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-image: linear-gradient(var(--light-blue), white);
  padding: 1.5em;
  border-radius: 1em;
  color: white;
  margin-bottom: 2em;

  .left {
    h1 {
      font-size: 7rem;
      margin: 0;
    }
    h2 {
      margin: 0;
    }
    h3 {
      margin: 0;
    }
    h4 {
      margin: 0;

      color: rgb(179, 179, 179);
    }
    p {
      margin: 0;

      color: rgb(216, 216, 216);
    }
  }
  .right {
  }
}
